<!-- templates/fragments/navbar.html -->
<section id="header" th:fragment="sellernavbar">
    <a href="#">
        <img class="logo" src="/images/Logo/logo3.png" alt="logo" style="margin: -5px; height: 50px; border-radius: 60px;">
    </a>

    <div>
        <ul id="navbar">
            

            <li><a href="/about">About</a></li>
            <li><a href="/add-product" th:if="${session.seller != null}">AddProduct</a></li>

            <!-- Show Login & SignUp if user is NOT logged in -->
            <li class="dropdown" th:if="${session.seller == null}">
                <a href="#" class="dropbtn">Login</a>
                <div class="dropdown-content">
                    <a href="/customer-login">Customer Login</a>
                    <a href="/seller-login">Seller Login</a>
                </div>
            </li>

            <li class="dropdown" th:if="${session.seller == null}">
                <a href="#" class="dropbtn">SignUp</a>
                <div class="dropdown-content">
                    <a href="/customer-signup">Customer SignUp</a>
                    <a href="/seller-signup">Seller SignUp</a>
                </div>
            </li>

            <!-- Show Profile if user is logged in -->
            <li class="dropdown" th:if="${session.seller != null}">
                <a href="#" class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a href="/customer-profile">My Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </li>
            

            
        </ul>
    </div>
</section>
