<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>customerHome</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<script type="text/javascript" src="/script/home.js" defer="defer"></script>
	<script type="text/javascript" src="/script/slider.js" defer="defer"></script>
	<link rel="stylesheet" href="/css/slider.css">
	
	
</head>
<body>


	<h3 id="fail-message" th:text="${session.fail}" style="display: none;"></h3>
	<h4 id="pass-message" th:text="${session.pass}" style="display: none;"></h4>
	<div id="popup" class="popup">
		<th:block th:text="${@myService.removeMessage()}"></th:block>
	</div>

	
	<div th:replace="~{fragments/navbar :: navbar}"></div>


	<div th:replace="~{fragments/slider :: slider}"></div>
	
	<div th:replace="~{fragments/view-product :: view-product}"></div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
		

	<!-- <div align="center">
		<a href="/view-products"><button>View All Products</button></a>
		<br>
		<br>
		<a href="/view-cart"><button>View Cart</button></a>
		<br>
		<br>
		<button>View Past Orders</button>
		<br>
		<br>
		<a href="/logout"><button>Logout</button></a>
		<br>
		<br>
	</div> -->
</body>
</html>