<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>customerHome</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<script type="text/javascript" src="/script/home.js" defer="defer"></script>
	
	
</head>
<body>

	<h3 id="fail-message" th:text="${session.fail}" style="display: none;"></h3>
	<h4 id="pass-message" th:text="${session.pass}" style="display: none;"></h4>
	<div id="popup" class="popup">
		<th:block th:text="${@myService.removeMessage()}"></th:block>
	</div>
	<div th:replace="fragments/navbar :: navbar"></div>
	
	<div th:replace="fragments/view-product :: view-product"></div>
	<footer class="section-p1">
		<div class="col">
			<img class="logo" src="img/logo.png" alt="Logo">
			<h4>Contact</h4>
			<p><strong>Address:</strong> East Medinipur, West Bengal, 721664</p>
			<p><strong>Phone:</strong> +91 9382401072</p>
			<p><strong>Hours:</strong> 10:00-18:00, Mon-Sat</p>
			<div class="follow">
				<h4>Follow Us</h4>
				<div class="icon">
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="https://github.com/tapangurya"><i class="fab fa-github"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-pinterest-p"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
				</div>
			</div>
		</div>

		<div class="col">
			<h4>About</h4>
			<a href="#">About Us</a>
			<a href="#">Delivery Information</a>
			<a href="#">Privacy Policy</a>
			<a href="#">Terms & Conditions</a>
			<a href="#">Contact Us</a>
		</div>

		<div class="col">
			<h4>My Account</h4>
			<a href="#">Sign In</a>
			<a href="#">View Cart</a>
			<a href="#">My Wishlist</a>
			<a href="#">Track My Order</a>
			<a href="#">Help</a>
		</div>

		<div class="col-install">
			<h4>Install App</h4>
			<p>From App Store or Google Play</p>
			<div class="row">
				<img src="img/app.jpg" alt="App Store">
				<img src="img/play.jpg" alt="Google Play">
			</div>
			<p>Secured Payment Gateways</p>
			<img src="/img/pay.png" alt="Payment Methods">
		</div>
		<div class="copyright">
			<p>© 2025, StyleTrademark -Ecommerce</p>
		</div>
	</footer>
		

	<!-- <div align="center">
		<a href="/view-products"><button>View All Products</button></a>
		<br>
		<br>
		<a href="/view-cart"><button>View Cart</button></a>
		<br>
		<br>
		<button>View Past Orders</button>
		<br>
		<br>
		<a href="/logout"><button>Logout</button></a>
		<br>
		<br>
	</div> -->
</body>
</html>