<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<button id="rzp-button1">Pay with Razorpay</button>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script>
		var options = {
			"key" : "[[${key}]]",
			"amount" : "[[${eorder.price*100}]]",
			"currency" : "[[${currency}]]",
			"name" : "Style Trademark",
			"description" : "Test Transaction",
			"image" : "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD8efGG_Ud6IA8IlAWz-0zLIRaDym539pcBA&s",
			"order_id" : "[[${eorder.orderId}]]",
			"callback_url" : "[[${url}]]",
			"prefill" : {
				"name" : "[[${customer.name}]]",
				"email" : "[[${customer.email}]]",
				"contact" : "[[${customer.mobile}]]"
			},
			"notes" : {
				"address" : "Razorpay Corporate Office"
			},
			"theme" : {
				"color" : "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		document.getElementById('rzp-button1').onclick = function(e) {
			rzp1.open();
			e.preventDefault();
		}
	</script>
</body>
</html>