<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Seller Home</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<script type="text/javascript" src="/script/home.js" defer="defer"></script>
</head>
<body>
	<div class="message">
		<h3 th:text="${session.fail}"></h3>
		<h4 th:text="${session.pass}"></h4>
		<th:block th:text="${@myService.removeMessage()}"></th:block>
	</div>
	<div th:replace="fragments/sellernavbar :: sellernavbar"></div>
	<div align="center">
		<a href="/add-product"><button>Add Product</button></a> <br> <br>
		<a href="/manage-products"><button>Manage Productrs</button></a>
		<br> <br> <a href="/logout"><button>Logout</button></a> <br>
		<br>
	</div>
</body>
</html> 