<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WomenFootWear</title>
<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<script type="text/javascript" src="/script/home.js" defer="defer"></script>
</head>
<body>
	
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<h1>Women Foot Wear</h1>
	 <div th:replace="~{fragments/view-product :: view-product}"></div> 
	  <div th:replace="~{fragments/footer :: footer}"></div> 
</body>
</html>